<!-- views/index.ejs -->

<div class="fondo">
  <div class="container-fluid">
    <div class="pres"><h2>¡¡Welcome to BidPay!!<br></h2></div>
    <% if (user) { %>
    <div class="home-heading-wrapper">

      <p>You can <a class="btn btn-default" href="/items/new">Upload a new item</a> or you can bid up for a item in the list below</p>

    </div>
    <% } %>


    <div class="item-row">
    </br>
      <div class="photo"><img src="imagenes/subasta.jpg"></div>
    </br>
      <h5 ><b>In BidPay$ you can upload whatever you have
        to bid it or you can buy from others.</b></h5><br>
        <h5 class="text-center">Here is some of the items uploaded in our page :</h5><br>



        <% items.forEach((item) => { %>
          <div  id="item-INF" class="col-sm-3 home-item-box">
            <div class="logos"><img src="<%= item.pic_path %>" height=60%>></div>
            <div class="item-info-wrapper">
              <a class="title" href="/items/<%= item._id %>">
                <strong><%= item.title %></strong>
              </a><br>
              by <span class="light-text"><%= item._creator.username %></span><br>
              <span class="light-text description"><%= item.goal %> $</span>
            </div>
          </div>
          <%  }) %>


  </div>
</div>
</div>
