<!-- views/index.ejs -->
<div class="container-fluid">
    <% if (user) { %>
    <div class="home-heading-wrapper">

      <p>Let's see some options</p>
      <a class="btn btn-default" href="/items/new">Upload a new item</a>
      <a class="btn btn-default" href="/items/list">See the list of items</a>
      <a class="btn btn-default" href="#">Get some cupons</a>

    </div>
    <% } %>


  <div class="item-row">
    <h3 class="text-center">Una muestra de lo que puedes encontrar aqui!</h3>


        <% items.forEach((item) => { %>
          <div class="col-sm-3 home-item-box">
            <img src="<%= item.imgUrl %>">
            <div class="item-info-wrapper">
              <a class="title" href="/items/<%= item._id %>">
                <strong><%= item.title %></strong>
              </a><br>
              by <span class="light-text"><%= item._creator.username %></span><br>
              <span class="light-text description"><%= item.description %></span>
            </div>
          </div>
          <%  }) %>



  </div>
</div>
  <!--
   <% if (user) { %>
        <% items.forEach((item) => { %>
          <div class="col-sm-3 home-item-box">
            <img src="<%= item.imgUrl %>">
            <div class="item-info-wrapper">
              <a class="title" href="/items/<%= item._id %>">
                <strong><%= item.title %></strong>
              </a><br>
              by <span class="light-text"><%= item._creator.username %></span><br>
              <span class="light-text description"><%= item.description %></span>
            </div>
          </div>
          <%  }) %>

    <% } else { %>
        <li><a href="/edit">Profile</a></li>
        <li> <a href="/logout"> Log Out </a> </li>
    <% } %>
-->
