<div class="container campaign-container">
  <div class="row">
    <div class="col-sm-2">
      <img src="<%= campaign.imgUrl %>" width=100><br>
      By: <strong><%= campaign._creator.username %></strong>
    </div>
    <div class="col-sm-10">
      <h1><%= campaign.title %></h1>
      <h2 class="campaign-category"><%= campaign.category %></h2>
      <p class="campaign-description"><%= campaign.description %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <img class="campaign-image" src="<%= campaign.image %>">
    </div>
    <div class="col-sm-4 campaign-info">
      <div class="campaign-progress">
        <progress value="<%= campaign.totalPledged %>" max="<%= campaign.goal %>"></progress>
      </div>
      <div class="campaign-pledged">
        <span class="campaign-total">$<%= campaign.totalPledged %></span><br>
        <span class="light-text">
          pledged of
          $<%= campaign.goal %></span> goal
        </span>
      </div>
      <div class="campaign-backers">
        <strong class="large-strong"><%= campaign.backerCount %></strong><br>
        <span class="light-text">backers</span>
      </div>
      <div class="campaign-time">
        <strong class="large-strong"><%= campaign.timeRemaining.days %></strong><br>
        <span class="light-text"><%= campaign.timeRemaining.unit  %> to go.</span>
      </div>
      <a class="btn backer-btn" href="/campaigns/<%= campaign._id%>/rewards">Back This Project</a>
    </div>
  </div>
</div>
