<div class="container" style="margin-top: 5px;">
  <section id="content">
    <h1>Edite su producto</h1>
      <form action="/items/<%= item._id %>" method="post" enctype="multipart/form-data">
        <% if (typeof(errors) !== 'undefined'){ %>
          <div class="alert alert-danger">
          <ul>
            <% for (let error in errors){ %>
              <li><%= errors[error].message %></li>
            <% } %>
          </ul>
          </div>
        <% } %>

          <label for="title"></label>
          <input type="text" name="title" class="form-control" placeholder="Title" value="<%= item.title %>">


          <label for="goal"></label>
          <input type="text" name="goal" class="form-control" placeholder="Price" value="<%= item.goal %>">


          <label for="description"></label>
          <textarea
            id="description"
            name="description"
            class="form-control"
            placeholder="Description">
            <%= item.description %>
          </textarea >



          <label for="deadline"></label>
          <input type="date" name="deadline" class="form-control" placeholder="Deadline" value="<%= item.inputFormattedDate %>">


            


              <input type="submit" value="Sign Up" />
      </form>
    </form><br>
       <form action="/items/<%= item._id %>/delete" method="POST">
         <button type="submit">Delete Product</button>
       </form><br>

    </div>
  </div>
